<%- include ('../general/header') %>
      <%- include ('../general/navbar') %>
<body>
  <div class="container">
    <main>
<%# ruta: reserva/user%>
      <h3 class="text-center">Mis reservas</h3>
      <br>
      <table class="table table-hover" id="lista-turnos">
          <thead>
            <tr>
              <th scope="col">Turno</th>
              <th scope="col">Fecha</th>
              <th scope="col">Puesto</th>
            </tr>
              <% for(var i=0; i<rows.length; i++) {%>
                  <tr>
                  <td scope="col"><%= rows[i].id_turno %></td>
                  <td scope="col"><%= rows[i].fecha %></td>
                  <td scope="col"><%= rows[i].escritorio_id %></td>
                  </tr>
              <% } %>
          </thead>
          <tbody>
          </tbody>
      </table>
    </main>
    
  </div>
  <div style="margin-top: 35%;"></div>
  <%- include('../general/footer') %>
</body>    
</html>
