
<%- include ('../general/header') %>
<%- include ('../general/navbar') %>
<body>
  <div class="container">
    <main>
<%# ruta: reserva/user%>
      <h2 class="text-center fs-1">Mis reservas</h2>
      <br>
      <table class="table" id="lista-turnos">
          <thead class="table-light table-hover">
            <tr class="table-dark">
              <th scope="col">Id</th>
              <th scope="col">Fecha</th>
              <th scope="col">Puesto</th>
            </tr>
              <% for(var i=0; i<rows.length; i++) {%>
                  <tr>
                  <td scope="col"><%= rows[i].id_turno %></td>
                  <td scope="col"><%= rows[i].fecha %></td>
                  <td scope="col"><%= rows[i].escritorio_id %></td>
                  </tr>
              <% } %>
          </thead>
          <tbody>
          </tbody>
      </table>
    </main>
    <%- include('../general/footer') %>
  </div>
</body>    
</html>
