<%- include ('../general/header') %>
<%- include ('../general/navbar') %>
<body  onload="confirmacion()">   

<main>
    <div hidden class="container">
        <div id="usuario" style="visibility: hidden"><%= id %></div>
        <div class="alert <%= alert %> " role="alert" style="margin-top: 25px;">
            <h3 class="text-start" id="mensaje"><%=message %></h3>
            <%= error %>
            <p id="type"><%= type %></p>
            <!-- <p>codigo</p> -->
            <p id="fecha"><%= date %> </p>
            <p id="escritorio"><%= escritorio %> </p>
            <!-- <p>id</p> -->
            <!--<p>piso </p>-->
            <br>
            <a href="/booking/<%=id %>" class="btn btn-light btn-lg" role="button">Mis reservas</a>
            <a href="/home" class="btn btn-light btn-lg" role="button">Volver al inicio</a>
        </div>
    </div>
<script src="/scripts/sweetalert2.min.js"></script>
<script src="/scripts/confirmacion.js"></script>
</main>
    <%- include('../general/footer') %>
</body>    
</html>