<%- include ('../general/header') %>

  <body>
    <%- include('../general/navbar') %>
      <div class="container text-center">
        <div class="div-hola">
          <% if(rows && rows.length> 0) { %>
            <h1>Hola, <%=rows[0].nombre%>
            </h1>
            <% } %>
              <h2 class="text-center">Puestos disponibles</h2>
        </div>
        <div class="row mb-2">
          <%- include('./includes/puestos')%>
        </div>
      </div>
      <script src="/scripts/sweetalert2.min.js"></script>
      <script src="/scripts/popup.js"></script>
      <%- include('../general/footer') %>
  </body>

  </html>